body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin: 0;
    font-size: 23px;
}

.heading span
{
    font-size: 17px;
    color: black;
    font-weight: bold;
}

.songname
{
    font-size: 20px;
    margin-top: -10px;
}

canvas
{
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    border: 5px solid white;
    margin-top: 20px;
}
